.map-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 6vh;
    padding: 0vh 0.5vw;
    height: 100%;
    width: 100%;
    margin-top: 20vh;
  }

  .top-stats-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
  }

  .top-vertical-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 11vh;
    margin: 0.5vh 0vh;
    background-color: white;
    z-index: 10;
  }

.weapons-div {
  display: flex;
  flex-direction: row;
}

  .map-square {
    width: 9.5vw;
    height: 10vh;
    transition: background-color 1500ms ease-out;
    /* border: 0.5px solid rgba(97, 48, 0, 0.756); */
  }

  .bronze, .silver, .gold, .platinum, .amethyst {
    position: relative;
  }


.bronze:after {
  background-color: rgb(136, 78, 8);
}

.silver:after {
  background-color: rgb(227, 223, 223);
}

.gold:after {
  background-color: rgb(255, 220, 24);
}


  .enemy {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;
  }

  .enemy:after {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    background-color: rgba(230, 97, 97, 0.651);
    border-radius: 100%;
    left: -50%;
    top: -50%;
    z-index: 0;
  }

  .empty-fuel-bar {
    width: 10vw;
    height: 2vh;
    background-color: grey;
    position: relative;
  }
  
  .current-fuel-bar {
    
    position: absolute;
    top:-1px;
    left: -1px;
    height: 2.2vh;
  }

  .full-fuel-bar {
    background-color: blue;
  }
  .low-fuel-bar {
    background-color: rgb(249, 170, 1);
  }

  .empty {
    background-color: black;
    /* border: 0.5px solid rgba(0, 0, 0, 0); */
  }

  .store {
    background-color: black;
  }

  .exit {
    background-color: black;
    text-align: center;
    color: rgb(0, 5, 27)
  }

.player-here {
  position: relative;
  width: 9.5vw;
  height: 10vh;

}
  .player-img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 20%;
    transition: all 0.3s ease-out;
  }

  .player-img-full {
    filter: brightness(0) saturate(100%) invert(12%) sepia(46%) saturate(7487%) hue-rotate(359deg) brightness(126%) contrast(63%);
    position: absolute;
    height: 100%;
    width: auto;
    left: 20%;
    transition: all 0.3s ease-out;
  }

  .move-left-animation {
    animation: moveleft 1s linear 1;
  }
  
.black-change {
  height: 30vh;
}

  @keyframes moveleft {
    0% {
      left: 20%;
    }
  
    100% {
      left: 0%;
    }
  }

  .bronze-img, .enemy-img, .dirt-img, .stone-img,  .silver-img, .gold-img, .ruby-img, .amethyst-img, .diamond-img, .blkdiamond-img {
    width: 9.5vw;
    height: 10vh;
    object-fit: cover;
  }

  .relic-div, .relics-div {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 8vw;
    justify-content: center;
  }

  .relics-div {
    width: 100%;
  }

  .relic-img {
    width: 8vw;
    height: 8vh;
    margin: 2vh 0.5vw;
    object-fit: contain;
  }

  #weapons-price-popup, #thorns-popup, #enemy-damage-popup, 
  #enemy-damage-fuel-popup, #kill-enemies-fuel-popup, #dirt-fuel-popup,
  #bomb-timer-popup  {
    display: none;
    position: absolute;
    top: 10%;
    left: 70%;
    z-index: 100;
    width: 20vw;
    height: 10vh;
    font-size: 3vmin;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ccc;
}

.store-img, .exit-img {
  width: 9vw;
  height: 9vh;
  object-fit: contain;
}

  .enemy-img {
    width: 6vw;
    height: 6vh;
  }

  .change-empty {
    background-color: black;
  }

  .inventory-full {
    color: red;
  }

  .relic {
    background-color: pink;
    color: black;
  }

  .store-div {
    margin: auto;
    margin-top: 15vh;
    height: 90vh;
    width: 95vw;
    background-image: url(img/store-inside.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .test {
    height: 60vh;
    width: 60vw;
    margin: auto;
    background-color: red;
  }

  .store-option, .next-level-option {
    width: 10vw;
    height: 10vh;
    background-color: rgb(122, 253, 253);
    margin: 1vw;
    padding: 2vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    transition: 0.2s all;
  }

  .next-level-option {
    color: rgb(0, 105, 105);
    height: 20vh;
    width: 15vw;
  }

  .store-option-text {
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .store-clickable .store-option-text {
    color: rgb(0, 105, 105);
    size: 10vh;
  }


  .store-clicked {
    animation: storeClicked 0.3s linear
  }

  .emphasis {
    animation: emphasis 0.5s linear
  }

  .fill-fuel-animation {
    animation: fillfuel 0.5s linear;
  }

  .enemy-death {
    animation: enemydeath 0.1s;
  }

  @keyframes enemydeath {
    0% {
      scale: 1;
    }
    100% {
      scale: 0.3;
    }
  }

  @keyframes fillfuel {
    0% {
      width: 0vw;
    }
    100% {
      width: 10vw;
    }
  }

  @keyframes storeClicked {
    0% {
      scale: 1;
      background-color: rgb(122, 253, 253);
    }
    30% {
      scale: 1.5;
      background-color: rgb(213, 253, 253);
    }
    100% {
      scale: 1;
      background-color: rgb(122, 253, 253);
    }
  }

  @keyframes emphasis {
    0% {
      scale: 1;
    }
    50% {
      scale: 2;
    }
    100% {
      scale: 1;
    }
  }


  .store-clickable:hover {
    background-color: rgb(2, 196, 196);
    border: 6px solid rgb(0, 147, 147);
    height: 9vh;
    width: 9vw;
    cursor: pointer;
  }

  .next-level-clickable:hover {
    background-color: rgb(2, 196, 196);
    border: 6px solid rgb(0, 147, 147);
    height: 19vh;
    width: 14vw;
    cursor: pointer;
  }

  .return-to-map {
    background-color: rgb(206, 64, 64);
    color: rgb(58, 0, 0)
  }

  .return-to-map:hover {
    background-color: rgb(210, 98, 98);
    color: rgb(88, 14, 14);
    border: 1px dashed rgb(0, 59, 59);
    cursor: pointer;
    font-size: 110%;
  }

  .upgraded-stat {
    color: rgb(0, 192, 0)
  }

  .exploding-block {
    background-color: rgb(255, 202, 188)
  }
 