/*
1. add card types for energy/attack/power
2. add a spot to track drowning
3. change the pile divs to use variable-size font-heights

*/
#app {
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 1.1vmax;
  padding: 0;
  padding-left: 0.1vmin;
  margin-bottom: 0;
}

#stats, #town, #town-top-row, .monster-choice-window {
  display: flex;
  flex-direction: row;
}

#stats, #town, #town-top-row, .monster-choice-window {
  justify-content: space-evenly;
}

.monster-to-choose {
  width: 12vw;
  height: 45vh;
  border: 2px dashed rgb(91, 0, 0);
  border-radius: 15px;
  text-align: center;
  background-color: rgb(29, 29, 29);
  opacity: 0.9;
}

.monster-to-choose img {
  opacity: 1;
}

#status-text-div {
  border: 3px solid green;
  text-align: center;
  
}

#town, #town-top-row, .monster-choice-window {
  align-items: center;
}

#town-top-row {
  height: 6vh;
}

#stats, #town, .monster-choice-window {
  justify-content: space-evenly;
  border: 1px solid black;
  height: 90vh;
}

#stats {
  background-image: url(img/newpentacle.png);
  background-size: cover;
}

#town {
  height: 85vh;
  justify-content: space-evenly;
  vertical-align: center;
  align-items: center;
  background-image: url(img/town5.png);
  background-size: cover;
}

.monster-choice-window {
  background-image: url(img/pent4.png);
  background-size: cover;
  color: grey;
}

#goldDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5vh;
  width: 2.5vw;
  position: relative;
  font-size: 1vmax;
}

.town-div {
  height: 30vh;
  width: 15vw;
  color: rgb(220, 220, 220);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#goldText {
  position: absolute;
  color: white;
  margin: 0;
}

#TownFight  {
  background-color: black;
}

.fight-text {
  position: absolute;
  top: 0vh;
  color: white;
  font-size: 4vmin;
  background-color: black;
}

#removeText {
  color: rgb(255, 255, 255);
  background-color: black;
}

.bg-image {
  height: auto;
  width: 100%;
}

#TownRemove {
  background-color: rgb(2, 98, 2);
}

#TownUpgrade {
  background-color: rgb(19, 0, 116);
}

#TownDecrease {
  background-color: rgb(181, 172, 0);
}

#TownHealer {
  background-color: crimson;
}

.heal-button {
  margin: 5vmax;
}

.healer-div {
  display: flex;
  flex-direction: column;
}

.remove-div button {
  width: 75%;
}

#playerMonster {
  display: flex;
  flex-direction: column;
  
}

#stats h4 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

 /* * { border: 1px solid black; } */

 .fishbowl {
  background: rgb(0,194,255);
  background: radial-gradient(circle, rgba(0,194,255,.80) 55%, rgba(37,203,255,.80) 63%, rgba(79,213,255,.80) 73%);
  clip-path: polygon(50% 12%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  height: 2vmax;
  width: 2vmax;
  line-height: 2vmax;
  text-align: center;
  color: white;
  flex-shrink: 2;
  min-width: 0;
}

.fishbowl {
  background: rgb(0,194,255);
  background: radial-gradient(circle, rgba(0,194,255,.80) 55%, rgba(37,203,255,.80) 63%, rgba(79,213,255,.80) 73%);
  clip-path: polygon(50% 12%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  height: 2vmax;
  width: 2vmax;
  line-height: 2vmax;
  text-align: center;
  color: white;
  flex-shrink: 2;
}





#opponentHealthBlock, .move-name-cost {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.move {
  border: 1px dashed;
  font-size: 1.2vw;
  padding: 0.05vh 0.05vw;
  border-radius: 0.6vw;
}

.chosen {
  background: rgba(24, 24, 0, 0.636);
  border: 2px dashed silver;
}

.monster {
  border: 0.2px solid red;
  border-radius: 1vw;
  width: 21vw;
  justify-content: space-between;
}

.clickable-monster:hover, .clickable-town-div:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(33,33,33); 
}

.monster-to-choose:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgb(254, 254, 254); 
  color: white;
  animation: fadeIn 0.5s forwards;
}

.monster-hp {
  display:inline-block;
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  color: white;
  text-align: center;
  flex-grow: 0.1;
  font-size: 1.5vw;
  flex-shrink: 2;
  line-height: 4vmax;
  height: 6vmax;
  max-width: 6vmax;
  min-width: 0;
}

.monster-hp-town {
  display:inline-block;
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  color: white;
  text-align: center;
  flex-grow: 0.1;
  font-size: 1vmax;
  flex-shrink: 2;
  line-height: 2vmax;
  height: 3.5vmax;
  max-width: 3.5vmax;
  min-width: 0;
}

.monster-block {
    border-radius: 50% 50% 50% 50% / 12% 12% 30% 30%;
    background-color: blue;
    color: white;
    width: 20%;
    min-width: 0;
    text-align: center;
    font-size: 2vw;
    width: 3vmax;
    height: 3vmax;
    flex-shrink: 1;
    border: 1px dashed white;
  }


.monster-button {
  margin-left: 0.5vw;
  font-size: 2vw;
  text-align: right;
  vertical-align: center;
  height: 5vh;
  line-height: 0;
  white-space: nowrap;
  border-radius: 15px;
  /*
  background-color: rgb(93, 0, 0);
  color: white;
  */
  border: 2px dashed rgb(93, 0, 0);
}

.monster-button:hover {
  color: #fff;
  background-color: rgb(93, 0, 0);
  box-shadow: 0 0 10px rgba(33,33,33); 
  transition: .7s;
}

.monster-drown {
  color: blue;
}

.monster-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.targeted {
    border: 4px dashed red;
}

#playerStats {
  color: white;
  height: 30vh;
  width: 30vw;
  /*background: linear-gradient(90deg, rgba(50, 52, 52, 0.6) 0%, rgba(194, 191, 188, 0.23) 15%, rgba(255, 242, 225, 0.23) 85%, rgba(44, 47, 48, 0.6) 100%); */
}

#playerStats h4, #opponents h4 {
  font-size: 1.3vw;
}

.avatar {
  width: 10vmax;
  height: 10vmax;
  flex-shrink: 0;

}

#opponents {
  color: white;
  padding: 0.1vh;
  margin: 0.1vw;
  width: 75vw;
  display: flex;
  justify-content: space-around;
  font-size: 60%;
  margin-block-start: 0em;
  background-size: cover;
}

#opponents .monster-top-row {
  font-size: 140%;
}


.player-decks-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



#drawDiv,
#discardDiv,
#deckDiv {
  color: black;
  background-image: url(img/sky.jpeg);
  background-size: cover;
  height: 80vh;
  width: 80vw;
  position: fixed;
  top: 10vh;
  left: 10vw;
  padding-left: 11vw;
  padding-top: 4.5vmax;
}



#drawPile #drawDiv,
#discardPile #discardDiv,
#playerDeckPile #deckDiv, .invisible-cost {
  display: none;
  z-index: 10;
}

#drawPile:hover #drawDiv,
#discardPile:hover #discardDiv,
#playerDeckPile:hover #deckDiv {
  animation: fadeIn 1s;
  display: block;
}

.card-reward:hover .invisible-cost {
  animation: fadeIn 0.3s;
  display: block;
}

.invisible-cost {
  color: rgb(255, 117, 117);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.pile {
  width: 3vw;
  height: 10vh;
  color: white;
  background-color: brown;
  border: 1px dashed red;
  font-size: 2vh;
  white-space: nowrap;
  overflow: hidden;
}

.remove-pile {
  width: 15vw;
  height: 4vh;
  color: white;
  background-color: brown;
  border: 1px dashed red;
  font-size: 2vh;
  text-align: center;
  margin: 0.3vmin;
  cursor: help;
}

.remove-div {
  background-image: url(img/sky.jpeg);
  background-size: cover;
  height: 80vh;
  padding-left: 11vw;
  padding-top: 9vh;
  padding-right: 11vw;
}

.card {
  border: 0.5px solid rgb(255, 211, 101);
  background: linear-gradient(90deg, rgb(255, 238, 208),rgb(230, 171, 94), rgb(255, 200, 127), rgb(243, 133, 23));
  margin: 0.4vmax;
  width: 13vw;
  height: 10vh;
  float: left;
  justify-content: center;
}



.card-pile-card {
  border: 1px solid black;
  background: linear-gradient(90deg, rgb(255, 238, 208),rgb(230, 171, 94), rgb(255, 200, 127), rgb(243, 133, 23));
  margin: 1%;
  height: 10vh;
  width: 15vw;
  float: left;
  overflow: wrap;
}



.playable {
  
  box-shadow: 0 0 2px rgba(33,33,33); 
  justify-content: center;
}

.playable:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(178, 95, 0); 
  background: linear-gradient(90deg, rgb(64, 59, 52),rgb(108, 80, 43), rgb(88, 68, 43), rgb(87, 47, 8));
  color: white;
}

#handContainer2 .playable:hover {
  border: 1.5px solid rgb(255, 211, 101);
}

#handContainer2 {
  width: 30vw;
  height: 57vh;
  background-color: #0500332a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  /*background: linear-gradient(45deg, rgba(32, 78, 70, 0.6) 0%, rgba(255,175,70,0.23) 35%, rgba(0,212,255,0.08) 100%); */
}

/* https://codersblock.com/blog/creating-glow-effects-with-css/ 
https://blog.logrocket.com/css-style-button-accessibility/*/

.move h3, .move p, .card h3, .card p, .pile p, .card-pile-card h3, #playerStats h4 {
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-left: 0.1em;
  padding: 0.2vw;
}

#status-text-div p {
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-left: 0.1em;
  padding: 0.2vmax;
  font-size: 1.2vmax;
}


.card-pile-card h3 {
  font-size: 2.2vmin;
}

.card-pile-card p {
  font-size: 1.6vmax;
}

.card p{
  font-size: 0.95vmax;
  padding: 0;
  justify-content: center;
}



.monster-energy {
  font-size: 3vw;
  background-color: rgb(101, 14, 145);
  color: white;
  border-radius: 10px;
  padding: 0.3vh 0.4vw;
  margin-left: 0.1vw;
  text-align: center;
}

.player-energy {
  font-size: 3vw;
  background-color: rgb(8, 61, 0);
  color: white;
  border-radius: 10px;
  padding: 0.3vh 0.4vw;
  margin-left: 0.1vw;
  text-align: center;
}

.energy-cost, .hand-card-cost {
  width: 1.8vw;
  height: 1.8vw;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: rgb(101, 14, 145);
  font-weight: bold;
  color: white;
  float: right;
  max-height: 3vw;
 }

 .alt-cost {
  width: 1.8vmin;
  height: 1.8vmin;
  font-size: 1em;
  padding: 2vmin;
  margin-right: 3%;
  line-height: 1.8vmin;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: rgb(8, 61, 0);
  font-weight: bold;
  color: white;
  float: right;
  max-height: 3vw;
 }

 .card-reward {
  margin-left: 2vw;
  width: 15vw;
}

 .card-top-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 1vmin;
  margin-top: 0.5vmin;
}

.card-top-row-reward {
  display: flex;
  flex-direction: row;
  justify-content: left;
}




.skip-button{
  margin: 5vmax;
}

.hunted {
  background-image: url("img/crosshair.PNG");
  height: 1.6vmax;
  width: 1.6vmax;
}

.poison {
  border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
  background-color: green;
  color: white;
  height: 2vmax;
  width: 2vmax;
  line-height: 2vmax;
  display: inline-block;
  text-align: center;
}

.hand-card-cost {
  width: 1.8vmin;
  height: 1.8vmin;
  font-size: 1em;
  padding: 2vmin;
  margin-right: 3%;
  line-height: 1.8vmin;
  background-color: rgb(8, 61, 0);
 }

 .fire-energy {
  background: linear-gradient(90deg, rgb(174, 4, 4),rgb(200, 58, 58), rgb(172, 10, 10), rgb(128, 8, 8));
  line-height: 6vh;
  text-align: center;
  font-weight: bold;
  color: white;
}

.water-energy {
  background-color: rgba(1, 29, 240, 0.393);
}

button {
  font-size: 1.3em;
}

button:hover {
  background-color: rgb(213, 212, 212);
  cursor: pointer;
}

.alt-upgrade-text, .alt-cost, .alt-hits-text {
  display: none;
}

.alt-upgrade-text {
  color: rgb(189, 255, 189);
  
}

.card-upgrade:hover .upgrade-text, .card-upgrade:hover .hand-card-cost, .card-upgrade:hover .card-more-hits {
  display: none;
}

.card-upgrade:hover .alt-upgrade-text, .card-upgrade:hover .alt-cost,  .card-upgrade:hover .alt-hits-text {
  display: block;
}