/*
1. add card types for energy/attack/power
2. add a spot to track drowning
3. change the pile divs to use variable-size font-heights

*/
#app {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.space-evenly {
  justify-content: space-evenly;
}

.column {
  flex-direction: column;
}

.font5vmin {
  font-size: 3vmin;
}

@keyframes playerWindup {
  0% { transform: translateX(0); }
  25% { transform: translateX(-20px); }
  50% { transform: translateX(20px); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes opponentWindup {
  0% { transform: translateX(0); }
  25% { transform: translateX(20px); }
  50% { transform: translateX(-20px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

@keyframes energyGain {
  0% { font-size: 3vmin;}
  50% { font-size: 4.5vmin;}
  100% { font-size: 3vmin;}
}

.energy-gain {
  animation: energyGain 0.15s forwards ;
}

.player-windup {
  animation: playerWindup 0.35s forwards ;
}

.opponent-windup {
  animation: opponentWindup 0.3s forwards ;
}

@keyframes opponentImpact {
  0% { transform: translateX(0); }
  80% { transform: translateX(0); }
  90% { transform: translateX(30px); }
  100% { transform: translateX(0); }
}

@keyframes playerImpact {
  0% { transform: translateX(0); }
  85% { transform: translateX(0); }
  92% { transform: translateX(-30px); }
  100% { transform: translateX(0); }
}

.opponent-impact {
  animation: opponentImpact 0.35s forwards ;
}

.player-impact {
  animation: playerImpact 0.2s forwards ;
}



.card h3 {
  font-size: 2vmin;
  padding: 0;
  padding-left: 0.1vmin;
  margin-bottom: 0;
}

#stats, #town, #town-top-row, .monster-choice-window {
  display: flex;
  flex-direction: row;
}

#stats, #town, #town-top-row, .monster-choice-window {
  justify-content: space-evenly;
}

.monster-to-choose {
  width: 18vw;
  height: 45vh;
  border: 2px dashed rgb(91, 0, 0);
  border-radius: 15px;
  text-align: center;
  background-color: rgb(69, 69, 69);
  color: white;
  opacity: 0.9;
}

.fire-choose {
  background-color: rgb(105, 60, 60);
}

.fireball-class {
  background: rgb(214, 82, 0);
  background: radial-gradient(circle, rgb(255, 47, 40) 30%, rgb(255, 108, 23) 75%, rgb(254, 143, 52));
  border-radius: 50%;
  position: absolute;
  transform: translateX(-35vw);
  visibility: hidden;
}

#fireball {
  height: 10vmin;
  width: 10vmin;
}

#mediumfireball {
  height: 15vmin;
  width: 15vmin;
}

#hugefireball {
  height: 20vmin;
  width: 20vmin;
}

.fireball-move {
  animation: slide 0.3s ease-in;
  /* animation-duration: 0.4s;
  animation-name: slide;  */
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

.fireball-move-2 {
  animation: slide2 0.33s ease-in;
  /* animation-duration: 0.4s;
  animation-name: slide;  */
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

.fireball-move-3 {
  animation: slide3 0.33s ease-in;
  /* animation-duration: 0.4s;
  animation-name: slide;  */
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}



.green-filter {
  filter: contrast(0) sepia(100%) hue-rotate(100deg);
   
}

/* .green-filter {
  filter: grayscale(100%) sepia(100%) hue-rotate(100deg);
  transition: filter 1s ease-in-out;  
} */




.avatar {
  z-index: 1;
}


@keyframes slide {
  0% {
    transform: translate(-20vw, 0vh);
    visibility: hidden;
  }
  49% {
    transform: translate(0vw, 0vh);
    visibility: hidden;
  }
  50% {
    transform: translate(0vw, 0vh);
    visibility: visible;
  }
  100% {
    transform: translate(45vw, 0vh);
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    transform: translate(-20vw, 0vh);
    visibility: hidden;
  }
  49% {
    transform: translate(0vw, 0vh);
    visibility: hidden;
  }
  50% {
    transform: translate(0vw, 0vh);
    visibility: visible;
  }
  100% {
    transform: translate(25vw, 0vh);
    visibility: visible;
  }
}

@keyframes slide3 {
  0% {
    transform: translate(0vw, 0vh);
    visibility: hidden;
  }
  49% {
    transform: translate(0vw, 0vh);
    visibility: hidden;
  }
  50% {
    transform: translate(0vw, 0vh);
    visibility: visible;
  }
  100% {
    transform: translate(55vw, 0vh);
    visibility: visible;
  }
}

.water-choose {
  background-color: rgb(58, 58, 113);
}




.monster-to-choose img {
  opacity: 1;
}

#status-text-div {
  color: silver;
  text-align: center;
  display: flex row;
}

#town, #town-top-row, .monster-choice-window {
  align-items: center;
}

#town-top-row {
  height: 8vh;
  background:url(img/backgrounds/sky.jpeg);
  border: 2px double rgba(11, 0, 22, 0.848);
}

#stats, #town, .monster-choice-window {
  justify-content: space-evenly;
  border: 1px solid black;
  height: 89vh;
}

.monster-choice-window {
  height: 96vh;
}

#stats {
  background-image: url(img/backgrounds/newpentacle.PNG);
  background-size: cover;
}

#town {
  justify-content: space-evenly;
  vertical-align: center;
  align-items: center;
  background-image: url(img/backgrounds/town5.png);
  background-size: cover;
}

.monster-choice-window {
  background-image: url(img/backgrounds/pent4.png);
  background-size: cover;
  color: grey;
}

#goldDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 7vw;
  position: relative;
  font-size: 2.5vmin;
}

.town-div {
  height: 30vh;
  width: 15vw;
  color: rgb(220, 220, 220);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    45deg,
    #87818179 30%,
    transparent 30%,
    transparent 50%,
    #87818179  50%,
    #87818179  80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
  animation: towndiv 6s linear infinite;
}

.event-text-div {
  width: 90vw;
}


@keyframes towndiv {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 80px;
  }
}

.binaryChoice {
  width: 25vw;
}

.binaryChoiceHeal {
  width: 25vw;
  background: linear-gradient(
    45deg,
    #a6050579 30%,
    transparent 30%,
    transparent 50%,
    #a6050579 50%,
    #a6050579  80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
}
.binaryChoiceGold {
  width: 25vw;
  background: linear-gradient(
    45deg,
    #cac00979 30%,
    transparent 30%,
    transparent 50%,
    #cac00979  50%,
    #cac00979   80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
}
.binaryChoiceAttack {
  width: 25vw;
  background: linear-gradient(
    45deg,
    #fa1b1bad 30%,
    transparent 30%,
    transparent 50%,
    #fa1b1bad 50%,
    #fa1b1bad 80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
}
.binaryChoiceDefend {
  width: 25vw;
  background: linear-gradient(
    45deg,
    #142ad4b5 30%,
    transparent 30%,
    transparent 50%,
    #142ad4b5 50%,
    #142ad4b5 80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
}

#goldText {
  position: absolute;
  color: white;
  margin: 0;
}

#TownFight  {
  background-color: black;
}

.fight-text {
  display: block;
  color: white;
  font-size: 4vmin;
  background-color: black;
}




#removeText {
  color: rgb(255, 255, 255);
  background-color: black;
}

.bg-image {
  height: 100%;
  width: auto;
}

#TownRemove {
  background-color: rgb(2, 98, 2);
}

#TownUpgrade {
  background-color: rgb(19, 0, 116);
}

#TownEvent {
  background-color: rgb(181, 172, 0);
}

#TownShop {
  background-color: crimson;
}



.heal-div {
  margin: 2vmax;
  height: 30vh;
  width: 40vw;
  background: linear-gradient(90deg, rgb(216, 216, 216),rgb(249, 160, 160), rgb(218, 95, 95), rgb(227, 156, 156), rgb(216, 216, 216));
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  cursor: not-allowed;
  position: relative;
}




.remove-div button, #level-up-div button {
  width: 80vw;
}

#playerMonster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#stats h4 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

#endTurnButton {
  width: 10vw;
  color: rgb(0, 58, 3);
}

 /* * { border: 1px solid black; } */

 .fishbowl {
  background: rgb(0,194,255);
  background: radial-gradient(circle, rgba(0,194,255,.80) 55%, rgba(37,203,255,.80) 63%, rgba(79,213,255,.80) 73%);
  clip-path: polygon(50% 12%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  height: 2vmax;
  width: 2vmax;
  line-height: 2vmax;
  text-align: center;
  color: white;
  flex-shrink: 2;
  min-width: 0;
}

.fishbowl {
  background: rgb(0,194,255);
  background: radial-gradient(circle, rgba(0,194,255,.80) 55%, rgba(37,203,255,.80) 63%, rgba(79,213,255,.80) 73%);
  clip-path: polygon(50% 12%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  height: 2vmax;
  width: 2vmax;
  line-height: 2vmax;
  text-align: center;
  color: white;
  flex-shrink: 2;
}





#opponentHealthBlock, .move-name-cost {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.move {
  font-size: 2.3vmin;
  border: 1px solid rgba(191, 191, 191, 0.632);
  color: rgba(191, 191, 191, 0.632);
  border-radius: 0.6vw;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  background-position: 0% 0%;
  transition: background-color 0.5s;
}

.power {
  font-size: 2vmin;
  border: 1px solid white;
  background-color: rgb(39, 104, 255);
  border-radius: 0.6vw;
}

.fake-move-div {
  border: 1px solid;
  padding: 0.05vh 0.05vw;
  border-radius: 0.6vw;
  height: 3vh;
  margin: 1.5vmin;
}

.map-div {
  background-image: url("img/backgrounds/forest2.png");
  background-size: contain;
}

.chosen {
  border: 4px dashed rgb(255, 254, 253);
  color: white;
  font-size: 2.7vmin;
}

.energy-filled-fire {
  background-color: rgba(255, 52, 52, 0.916);
  border: 1px solid white;
  background-position: 0% 100%;
}

.energy-filled-water {
  background-color: rgba(52, 62, 255, 0.916);
  border: 1px solid white;
  background-position: 0% 100%;
}

.energy-filled-air {
  background-color: rgba(193, 193, 188, 0.916);
  border: 1px solid white;
  background-position: 0% 100%;
  color:rgb(11, 11, 17);
}
.energy-filled-earth {
  background-color: rgba(5, 100, 0, 0.916);
  border: 1px solid white;
  background-position: 0% 100%;
}



#opponents .not-chosen {
  color: rgba(199, 199, 199, 0.702);
  font-size: 1.8vmin;
  border: 1px solid white;
}
#opponents .not-chosen-air {
  color: rgba(73, 73, 73, 0.702);
  font-size: 1.8vmin;
  border: 1px solid white;
}

.monster {
  border: 0.2px solid red;
  border-radius: 1vw;
  width: 21vw;
  justify-content: space-between;
}

.fade-in {
  animation: fadeIn 0.7s;
}


.fade-out {
  animation: fadeOut 0.7s forwards;
}

.remove {
  animation: fadeOut 1s forwards;
}

.monster-hp {
  display:inline-block;
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  color: white;
  text-align: center;
  flex-grow: 0.1;
  font-size: 1.5vw;
  flex-shrink: 2;
  line-height: 6vmin;
  height: 10vmin;
  width: 10vmin;
}

.monster-hp-town {
  display:inline-block;
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  color: white;
  text-align: center;
  flex-grow: 0.1;
  font-size: 1vmax;
  flex-shrink: 2;
  line-height: 2vmax;
  height: 3.5vmax;
  max-width: 3.5vmax;
  min-width: 0;
}

.monster-block {
    border-radius: 50% 50% 50% 50% / 12% 12% 30% 30%;
    background-color: blue;
    color: white;
    width: 20%;
    min-width: 0;
    text-align: center;
    font-size: 2.7vmin;
    width: 3.9vmin;
    height: 3.9vmin;
    flex-shrink: 1;
    border: 1px dashed white;
  }

  .monster-block-unwavering {
    border-radius: 50% 50% 50% 50% / 12% 12% 30% 30%;
    background-color: blue;
    color: white;
    width: 20%;
    min-width: 0;
    text-align: center;
    font-size: 2vw;
    width: 3vmax;
    height: 3vmax;
    flex-shrink: 1;
    border: 2px solid white;
  }


.monster-button {
  margin-left: 0.5vw;
  font-size: 2vw;
  text-align: right;
  vertical-align: center;
  height: 5vh;
  line-height: 0;
  white-space: nowrap;
  border-radius: 15px;
  /*
  background-color: rgb(93, 0, 0);
  color: white;
  */
  border: 2px dashed rgb(93, 0, 0);
}

/* .monster-button: hoooover {
  color: #fff;
  background-color: rgb(93, 0, 0);
  box-shadow: 0 0 10px rgba(33,33,33); 
  transition: .7s;
} */

.monster-drown {
  color: blue;
}

.monster-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: filter 0.5s ease-out; 
}


.targeted-fire {
    border: 6px dashed red;
    background-color: #50010163;
}

.targeted-water {
  border: 6px dashed blue;
  background-color: #50010163;
}

.targeted-air {
  border: 6px dashed silver;
  background-color: #50010163;
}

.targeted-earth {
  border: 6px dashed rgba(5, 100, 0, 0.916);;
  background-color: #50010163;
}

#playerStats {
  color: white;
  height: 30vh;
  width: 30vw;
  /*background: linear-gradient(90deg, rgba(50, 52, 52, 0.6) 0%, rgba(194, 191, 188, 0.23) 15%, rgba(255, 242, 225, 0.23) 85%, rgba(44, 47, 48, 0.6) 100%); */
}

#playerStats h4, #opponents h4 {
  font-size: 3vmin;
}

.avatar {
  width: 10vw;
  height: 10vw;
  flex-shrink: 1;

}

#opponents {
  color: white;
  padding: 0.1vh;
  margin: 0.1vw;
  width: 75vw;
  display: flex;
  justify-content: space-around;
  font-size: 60%;
  margin-block-start: 0em;
  background-size: cover;
}

#opponents .monster-top-row {
  font-size: 140%;
}


.player-decks-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



#drawDiv,
#discardDiv,
#deckDiv {
  color: black;
  background-image: url(img/backgrounds/sky.jpeg);
  background-size: cover;
  height: 80vh;
  width: 90vw;
  position: fixed;
  top: 10vh;
  left: 5vw;
  padding-left: 2vw;
  padding-top: 2vmax;
}

#drawDiv, #discardDiv {
  height: 80vh;
  width: 60vw;
  top: 10vh;
  left: 10vw;
  padding-left: 2vw;
  padding-top: 2vmax;
}




#drawPile #drawDiv,
#discardPile #discardDiv,
#playerDeckPile #deckDiv, .invisible-cost, .paid-invisible-cost {
  display: none;
  z-index: 10;
}





.invisible-cost {
  color: rgb(255, 117, 117);
}

.paid-invisible-cost {
  color: rgb(189, 255, 189);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.pile {
  width: 3vw;
  height: 10vh;
  color: white;
  background-color: brown;
  border: 1px dashed red;
  font-size: 2vh;
}

.remove-pile {
  width: 15vw;
  height: 4vh;
  color: white;
  background-color: brown;
  border: 1px dashed red;
  font-size: 2vh;
  text-align: center;
  margin: 0.3vmin;
  cursor: help;
}

.remove-div {
  background-image: url(img/backgrounds/sky.jpeg);
  background-size: cover;
  height: 80vh;
  padding-left: 1vw;
  padding-top: 3vh;
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: start;
}

#event-text-div {
  color: white;
  justify-content: center;
  text-align: center;
  margin: 3vmin 20vw;

}

.card {
  background: linear-gradient(90deg, rgb(255, 238, 208),rgb(230, 171, 94), rgb(255, 200, 127), rgb(243, 133, 23));
  margin: 0.4vmax;
  width: 13vw;
  height: 10vh;
  float: left;
  justify-content: center;
}

.card-pile-card {
  border: 1px solid black;
  background: linear-gradient(90deg, rgb(255, 238, 208),rgb(230, 171, 94), rgb(255, 200, 127), rgb(243, 133, 23));
  margin: 1%;
  height: 10vh;
  width: 15vw;
  float: left;
  display: block;
  justify-content: center;
  overflow: wrap;
}



#handContainer2 {
  width: 30vw;
  height: 55vh;
  background-color: #0500332a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  /*background: linear-gradient(45deg, rgba(32, 78, 70, 0.6) 0%, rgba(255,175,70,0.23) 35%, rgba(0,212,255,0.08) 100%); */
}

/* https://codersblock.com/blog/creating-glow-effects-with-css/ 
https://blog.logrocket.com/css-style-button-accessibility/*/

.move h3, .move p, .card h3, .card p, .pile p, .card-pile-card h3, #playerStats h4, .power h3, .power p {
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-left: 0.1em;
  padding: 0.2vw;
}

#status-text-div p {
  margin-block-start: 0.01em;
  margin-block-end: 0.01em;
  margin-left: 0.1em;
  padding: 0.2vmax;
  font-size: 3vmin;
}

.card-pile-card h3 {
  font-size: 2.2vmin;
}

.card-pile-card p {
  font-size: 1.6vmin;
}

.card p{
  font-size: 1.8vmin;
  line-height: 1.9vmin;
  padding: 0;
  justify-content: center;
}

.monster-energy {
  font-size: 4vmin;
  color: white;
  border-radius: 10px;
  padding: 0.3vh 0.4vw;
  margin-left: 0.1vw;
  text-align: center;
}

.monster-energy-fire {
  background: linear-gradient(90deg,rgb(255, 208, 208), rgb(243, 23, 23),rgb(230, 0, 0), rgb(243, 23, 23),rgb(255, 208, 208));
}

.monster-energy-water {
  background: linear-gradient(90deg,rgb(208, 209, 255), rgb(23, 27, 243),rgb(0, 58, 230), rgb(23, 30, 243),rgb(208, 211, 255));
}

.monster-energy-air {
  background: linear-gradient(90deg,rgb(255, 252, 244), rgb(188, 188, 188),rgb(173, 172, 160), rgb(172, 172, 167),rgb(223, 222, 214));
  color:rgb(11, 11, 17);
}

.monster-energy-earth {
  background: linear-gradient(90deg,rgb(208, 255, 208), rgb(57, 198, 26),rgb(2, 151, 9), rgb(3, 196, 0),rgb(208, 255, 210));
}



.player-energy {
  font-size: 4vmin;
  background-color: rgb(8, 61, 0);
  color: white;
  border-radius: 10px;
  padding: 0.3vh 0.4vw;
  margin-left: 0.1vw;
  text-align: center;
}

.player-energy-fire, .hand-card-cost-fire {
  background: linear-gradient(90deg,rgb(255, 208, 208), rgb(243, 23, 23),rgb(230, 0, 0), rgb(243, 23, 23),rgb(255, 208, 208));
}
.hand-card-cost-fire {
  background: linear-gradient(90deg, rgb(224, 84, 84),rgb(187, 0, 0), rgb(226, 69, 69));
}

.player-energy-water, .hand-card-cost-water {
  background: linear-gradient(90deg,rgb(208, 209, 255), rgb(23, 27, 243),rgb(0, 58, 230), rgb(23, 30, 243),rgb(208, 211, 255));
}

.energy-cost, .hand-card-cost {
  width: 3.5vmin;
  height: 3.5vmin;
  text-align: center;
  border-radius: 50%;
  font-size: 2.5vmin;
  background-color: rgba(255, 219, 219, 0.916);
  font-weight: bold;
  line-height: 3vmin;
  color: rgb(0, 0, 0);
  float: right;
  transition: background-color 0.5s;
 }



 .largerHeight {
  font-size: 3vmin;
  background-color: rgba(64, 0, 0, 0.916);
  color: white;
 }

 .alt-cost {
  width: 1.8vmin;
  height: 1.8vmin;
  font-size: 1em;
  padding: 2vmin;
  margin-right: 3%;
  line-height: 1.8vmin;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: rgb(8, 61, 0);
  font-weight: bold;
  color: white;
  float: right;
  max-height: 3vw;
 }

 .card-reward {
  margin-left: 2vw;
  width: 21vw;
  height: 14vh;
}

#shop-div .card-reward {
  width: 20vw;
  height: 15vh;
}

 .card-top-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 1vmin;
  margin-top: 0.5vmin;
}

.card-top-row-reward {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.skip-button{
  margin: 2vmax;
}

/*.hunted {
  background-image: url(img/crosshair.PNG);
  height: 1.6vmin;
  width: 1.6vmin;
} */

.hunted {
	width: 5vmin;
	height: 5vmin;
	background: red;
  color: white;
	position: relative;
  border-radius: 50%;
  line-height: 5vmin;
  font-size: 10vmin;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hunted p {
  z-index: 10;
  font-size: 2.5vmin;
  color: white;
  position: absolute;
}

.town-div h3 {
  z-index: 5;
}

.hunted:before {
	content: "";
	position: absolute;
	top: .5vmin;
	left: .5vmin;
	border-radius: 50%;
	width: 4vmin;
	height: 4vmin;
  background: white;
}

.hunted:after {
	content: "";
	position: absolute;
	top: 1vmin;
	left: 1vmin;
  border-radius: 50%;
	width: 3vmin;
	height: 3vmin;
  background: red;
}

.poison {
  border-radius:0% 100% 100% 100%;
	transform: rotate(45deg);
  background-color: green;
  color: white;
  height: 3vmin;
  width: 3vmin;
  line-height: 3vmin;
  display: inline-block;
  text-align: center;
}

.poison-text-span {
  display: block;
  transform: rotate(-45deg);
  font-size: 2.5vmin;
}

.hand-card-cost {
  width: 1.8vmin;
  height: 1.8vmin;
  font-size: 1em;
  padding: 2vmin;
  margin-right: 3%;
  line-height: 1.8vmin;
  background-color: rgb(8, 61, 0);
  color: white;
 }

 .fire-energy {
  border: 3px solid rgb(155, 9, 9);
  background: linear-gradient(90deg, rgb(174, 4, 4),rgb(200, 58, 58), rgb(172, 10, 10), rgb(128, 8, 8));
  line-height: 3vh;
  text-align: center;
  font-weight: bold;
  color: white;
}

#level-up-div {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.water-energy {
  border: 3px solid rgb(44, 40, 175);
  background: linear-gradient(90deg, rgb(168, 165, 255),rgb(55, 55, 194), rgb(44, 40, 175), rgb(23, 1, 110));
  line-height: 3vh;
  text-align: center;
  font-weight: bold;
  color: white;
}


.rare-card {
  background: linear-gradient(45deg, rgb(246, 255, 145),rgb(246, 232, 83), rgb(224, 222, 121),rgb(189, 193, 5), rgb(246, 255, 145));
  border: 3px double yellow;
}




.alt-upgrade-text, .alt-cost, .alt-hits-text, .alt-card-text {
  display: none;
}

.alt-upgrade-text, .alt-hits-text, .alt-card-text {
  color: rgb(189, 255, 189);
  
}



.ability-card {
  border: 3px solid blue;
}

.attack-card {
  border: 3px solid red;
}

.stay-visible {
  display: block;
}

.trigger-condition-met {
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); 

}



.map-square {
  height: 15vh;
  width: 10vw;
  /*border: 1px solid green;
  background: linear-gradient(215deg, rgba(197, 255, 199, 0.916), rgba(187, 255, 187, 0.9)); */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.529);
  margin: 2vh 1vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.dev-mode-div {
  position: absolute;
  height: 20vh;
  width: 20vw;
  top: 0;
  left: 0;
}

.arrow-1 {
  width:100px;
  height:30px;
  display: flex;
}

.arrow-1:before {
  content: "";
  background: currentColor;
  width:15px;
  clip-path: polygon(0 1vmin,calc(100% - 1.5vmin) 1vmin,calc(100% - 1.5vmin) 0,100% 50%,calc(100% - 1.5vmin) 100%,calc(100% - 1.5vmin) calc(100% - 1vmin),0 calc(100% - 1vmin));
  animation: a1 1.5s infinite linear;
}

@keyframes a1 {
  90%,100%{flex-grow: 1}
}

.upgrade-animation {
  animation: upgrade 3s linear 1 alternate;
}

@keyframes upgrade {

  100% {
    height: 20vh;
    width: 30vw;
    background-color: yellow;
  }
}

.empty-xp-bar {
  width: 10vw;
  height: 2vh;
  background-color: grey;
  position: relative;
}

.current-xp-bar {
  background-color: blue;
  position: absolute;
  top:-1px;
  left: -1px;
  height: 2.2vh;
}

.monster-xp {
  font-size: 1.6em;
  color: rgb(194, 255, 248);
}

.gym-text {
  font-size: 1.1em;
  color: white;
}

.map-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 12vh;
  padding-bottom: 10vh;
  
  height: 60vh;
}

@media (hover: hover) {
  .clickable-square:hover {
    cursor: pointer;
    color: rgb(255, 225, 0);
    background-color: rgba(255, 255, 255, 0.837);
    animation: fadeIn 0.5s forwards;
    /*background: linear-gradient(215deg, rgba(255, 236, 219, 0.716), rgba(229, 181, 151, 0.7));*/
  }

  button:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
  }

  .clickable-square:hover .monster-hp {
    border-image: radial-gradient(rgb(255, 225, 0) 69%,#0000 70%) 84.5% fill/100%;
  }
  
  .clickable-square:hover .pentagram {
    border: solid 4px rgb(255, 225, 0);
  }
  
  .clickable-square:hover .pentagram::before {
    background: rgb(255, 225, 0);
   }

   .fire-choose:hover {
    background-color: rgb(102, 20, 20);
  }
  
  .water-choose:hover {
    background-color: rgb(23, 23, 109);
  }

  #shop-div .playable:hover {
    box-shadow: 0 0 35px rgb(221, 249, 8); 
  }
  .town-div:hover {
    background: linear-gradient(
      45deg,
      #dcd1d179 30%,
      transparent 30%,
      transparent 50%,
      #dcd1d179 50%,
      #dcd1d179  80%,
      transparent 80%,
      transparent 100%
    );
    background-size: 80px 80px;
    animation: towndiv 2s linear infinite;
    animation-direction: reverse;
  }
  .clickable-town-div:hover {
    cursor: pointer;
    box-shadow: 0 0 35px rgba(33,33,33); 
  }
  .heal-div.playable:hover {
    box-shadow: 0 0 80px rgb(239, 0, 0);
    cursor: pointer;
    color: green;
  }
  .clickable-monster:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(154, 15, 15);
  }
  
  .monster-to-choose:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgb(254, 254, 254); 
    color: white;
    animation: fadeIn 0.5s forwards;
  }
  #drawPile:hover #drawDiv,
#discardPile:hover #discardDiv,
#playerDeckPile:hover #deckDiv {
  animation: fadeIn 1s;
  display: block;
}
.card-reward:hover .invisible-cost, .card-reward:hover .paid-invisible-cost {
  animation: fadeIn 0.3s;
  display: block;
}
.card.playable:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(178, 95, 0); 
  background: linear-gradient(90deg, rgb(64, 59, 52),rgb(108, 80, 43), rgb(88, 68, 43), rgb(87, 47, 8));
  color: white;
}

#handContainer2 .playable:hover {
  border: 1.5px solid rgb(255, 211, 101);
}


.card-upgrade:hover .upgrade-text, 
.card-upgrade:hover .card-text, 
.card-upgrade:hover .hand-card-cost,
.card-change-text:hover .hand-card-cost, 
.card-change-text:hover .upgrade-text, 
.card-change-text:hover .card-text,
.card-change-text:hover .alt-card-text {
  display: none;
}

.card-upgrade:hover .alt-upgrade-text, .card-upgrade:hover .alt-card-text, .card-upgrade:hover .alt-cost,  .card-change-text:hover .alt-hits-text, .card-change-text:hover .alt-card-text,
.card-change-text:hover .alt-cost {
  display: block;
}
.trigger-condition-met:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 141, 207); 
  background: linear-gradient(90deg, rgb(47, 109, 150),rgb(43, 69, 108), rgb(43, 77, 88), rgb(12, 8, 87));
  color: white;
}
}





@media (hover: none) {
  .clickable-square:active {
    cursor: pointer;
    color: rgb(255, 225, 0);
    background-color: rgba(255, 255, 255, 0.837);
    /*background: linear-gradient(215deg, rgba(255, 236, 219, 0.716), rgba(229, 181, 151, 0.7));*/
  }

  .clickable-square:active .monster-hp {
    border-image: radial-gradient(rgb(255, 225, 0) 69%,#0000 70%) 84.5% fill/100%;
  }
  
  .clickable-square:active .pentagram {
    border: solid 4px rgb(255, 225, 0);
  }
  
  .clickable-square:active .pentagram::before {
    background: rgb(255, 225, 0);
   }

   .fire-choose:active {
    background-color: rgb(102, 20, 20);
  }
  
  .water-choose:active {
    background-color: rgb(23, 23, 109);
  }
  .clickable-monster:active {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(154, 15, 15);
  }
  
  .monster-to-choose:active {
    cursor: pointer;
    box-shadow: 0 0 20px rgb(254, 254, 254); 
    color: white;
  }
  #drawPile:active #drawDiv,
#discardPile:active #discardDiv,
#playerDeckPile:active #deckDiv {
  animation: fadeIn 1s;
  display: block;
}

.card-reward .invisible-cost, .card-reward .paid-invisible-cost {
  animation: fadeIn 0.3s;
  display: block;
}

#handContainer2 .playable {
  box-shadow: 0 0 10px rgb(178, 95, 0); 
  background: linear-gradient(90deg, rgb(208, 194, 170),rgb(192, 142, 78), rgb(210, 164, 103), rgb(213, 116, 20));
}

.card-upgrade .upgrade-text, 
.card-upgrade .card-text, 
.card-upgrade .hand-card-cost,
.card-change-text .hand-card-cost, 
.card-change-text .upgrade-text, 
.card-change-text .card-text,
.card-change-text .alt-card-text {
  display: none;
}

.card-upgrade .alt-upgrade-text, .card-upgrade .alt-card-text, .card-upgrade .alt-cost,  .card-change-text .alt-hits-text, .card-change-text .alt-card-text,
.card-change-text .alt-cost {
  display: block;
}
}



.pentagram {
	width: 10vw;
	height: 15vh;
	position: relative;
	border: solid 4px #c60505;
	border-radius: 50%;
	transform-origin: center;
	box-sizing: border-box;
}
.pentagram::before {
	content: "";
	width: 8vw;
	height: 13vh;
	position: absolute;
	top: -0.6vh;
	left: 0.5vw;
	clip-path: polygon(50% 5%, 61% 40%, 98% 40%, 68% 62%, 79% 96%, 50% 75%, 21% 96%, 32% 62%, 2% 40%, 39% 40%);
	background: #db1010;
}

.cross {
  width: 8vmin;
  height: 8vmin;
  position: relative;
}

.TownUpgrade {
  width: 15vw;
  height: 30vh;
  position: relative;
  background: linear-gradient(
    45deg,
    #dfffd9c8 30%,
    transparent 30%,
    transparent 50%,
    #dfffd9c8 50%,
    #dfffd9c8 80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
  animation: towndiv 6s linear infinite;
}

.TownRemove {
  width: 15vw;
  height: 30vh;
  position: relative;
  background: linear-gradient(
    45deg,
    #ffc7c7c8 30%,
    transparent 30%,
    transparent 50%,
    #ffc7c7c8 50%,
    #ffc7c7c8 80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
  animation: towndiv 6s linear infinite;
}

.TownFight {
  width: 15vw;
  height: 30vh;
  position: relative;
  background: linear-gradient(
    45deg,
    #6661ffc8 30%,
    transparent 30%,
    transparent 50%,
    #6661ffc8 50%,
    #6661ffc8 80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
  animation: towndiv 6s linear infinite;
}

.TownShop {
  width: 15vw;
  height: 30vh;
  position: relative;
  background: linear-gradient(
    45deg,
    #fffba7c8 30%,
    transparent 30%,
    transparent 50%,
    #fffba7c8 50%,
    #fffba7c8 80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 80px 80px;
  animation: towndiv 6s linear infinite;
}

.cross:before, .cross:after, .TownUpgrade:before, .TownUpgrade:after {
 content: "";
 position: absolute;
 background: rgb(7, 220, 0);
}

.cross:before, .TownUpgrade:before {
 left: 50%;
 width: 30%;
 margin-left: -15%;
 height: 100%;
}

.cross:after, .TownUpgrade::after {
  top: 50%;
  left: 0%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.minus-sign {
  width: 8vmin;
  height: 8vmin;
  position: relative;
}

.minus-sign:before, .TownRemove::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
  background: rgb(220, 40, 0);
 }


.Shop {
  /*background: linear-gradient( rgba(218, 218, 218, 0.758), rgba(214, 214, 58, 0.85)); */
  color: rgb(88, 88, 0);
  font-size: 4em;
}

.Event {
  color: rgb(103, 0, 90);
  font-size: 5em;
}

.Town {
  font-size: 3em;
  color: rgb(50, 50, 50);
  border-radius: 7%;
  background: linear-gradient(90deg, rgba(255, 236, 219, 0.89), rgba(56, 56, 56, 0.85));
}




.completed, .path {
  background: linear-gradient(215deg, rgba(255, 236, 219, 0.916), rgba(229, 181, 151, 0.9));
  border-radius: 7%;
  width: 12vw;
  height: 15vh;
  color: rgb(63, 63, 63);
}

.here {
  background: linear-gradient( rgb(255, 218, 185, 0.85), rgba(243, 179, 133, 0.85),rgba(244, 181, 98, 0.85));  
  color: rgb(64, 9, 94);
  font-size: 1.6em;
  box-shadow: 0 0 50px rgb(109, 0, 0); 
}

.non-buyable-card {
  color: rgb(153, 5, 5);
}